body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
    text-align: center;
}

main {
    margin-top: 100px;
    padding: 20px;
    width: calc(95%);
}



