body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #45a049;
}

p {
    margin-top: 20px;
}

p a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.messages {
    margin-bottom: 20px;
    text-align: left;
}

.messages p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.messages p.error {
    color: red;
    font-weight: bold;
}


/* Responsiveness for medium screens (tablets and smaller) */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.8rem;
    }

    input {
        font-size: 0.9rem; /* Reducir el tamaño del texto */
        padding: 8px; /* Reducir el padding */
    }

    button {
        font-size: 1rem; /* Botón más compacto */
        padding: 8px;
    }

    .messages p {
        font-size: 0.9rem; /* Mensajes más pequeños */
    }

    p {
        font-size: 0.9rem;
    }

    p a {
        font-size: 0.9rem;
    }
}

/* Responsiveness for small screens (phones) */
@media screen and (max-width: 480px) {
    .logo-container {
        margin-bottom: 20px;
        text-align: center;
    }

    .rounded-logo {
        width: 70px; /* Reducir tamaño del logo */
        height: 70px;
    }

    .container {
        padding: 15px;
        max-width: 100%;
        margin: 0px 4px;
    }

    h1 {
        font-size: 1.5rem; /* Títulos más pequeños */
    }

    input {
        font-size: 0.8rem; /* Texto más pequeño */
        padding: 6px;
    }

    button {
        font-size: 0.9rem;
        padding: 6px;
    }

    .messages p {
        font-size: 0.8rem; /* Mensajes más pequeños */
    }

    p {
        font-size: 0.8rem;
    }

    p a {
        font-size: 0.8rem;
    }
}
