/* statistics.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(0, 1, 29);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-left: 50px;
}

.nav-links a:hover {
    color: #e55000;
    transform: scale(1.1);
}

.nav-links .active {
    color: #e55000;
}

.logo {
    margin-left: 45px;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: #4caf50;
}

.button {
    padding: 10px 20px;
    font-size: 2rem;
    color: white;
    background: #f44336;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 40px;
}

.button:hover {
    background: #e53935;
}

.logo-container {
    position: absolute;
    top: 8px;
    left: 10px;
}

.rounded-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.rounded-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logout-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: #f44336; /* Color rojo original */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 40px; /* Ajusta el espacio si es necesario */
}

.logout-button:hover {
    background: #e53935; /* Color rojo más oscuro para el hover */
}



/* Ajusta el espacio superior para evitar que el header fijo se superponga */
main {
    margin-top: 100px;
    padding: 20px;
    width: calc(95%);
    text-align: center;
  }
  
  /* Título principal */
  main h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  /* Contenedor de métricas principales */
  .stats-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .stat-item {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .stat-item h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .stat-item p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Contenedor para gráficos */
  .charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Espaciado entre gráficos */
}

.chart {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 400px; /* Ajusta el tamaño según tus necesidades */
    height: 400px; /* Asegúrate de definir una altura */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.chart canvas {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
}


  h2{
    color: #e59900;
  }