<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Manatracker</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <header>
        <a href="index.html" class="logo">Manatracker</a>
        <a href="/logout" class="button">Logout</a>
    </header>
    <main>
        <!-- Contenido futuro del dashboard -->
    </main>
</body>
</html>
