<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manatracker - Track. Analyze. Win.</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="logo-container">
        <a href="/">
            <img src="../static/images/logo2.jpeg" alt="Logo" class="rounded-logo">
        </a>
    </div>
    
    <div class="container">
        <h1>Manatracker</h1>
        <p>Track. Analyze. Win.</p>
        <div class="button-container">
            <a href="{{ url_for('auth.login') }}" class="button login">Login</a>
            <a href="{{ url_for('auth.signup') }}" class="button">Sign Up</a>
        </div>
    </div>
</body>
</html>